In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# read in CSVs as pandas dataframes
schoolsPath = Path('Resources/schools_complete.csv')
schools_df = pd.read_csv(schoolsPath)
studentsPath = Path('Resources/students_complete.csv')
students_df = pd.read_csv(studentsPath)

## Base Summary

In [43]:
schools_df.describe()

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [42]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [44]:
students_df.describe()

         Student ID  reading_score    math_score
count  39170.000000    39170.00000  39170.000000
mean   19584.500000       81.87784     78.985371
std    11307.549359       10.23958     12.309968
min        0.000000       63.00000     55.000000
25%     9792.250000       73.00000     69.000000
50%    19584.500000       82.00000     79.000000
75%    29376.750000       91.00000     89.000000
max    39169.000000       99.00000     99.000000

In [41]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# set variable constants
PASS_SCORE = 65

## District Summary

A high-level snapshot of key metrics for the school district

In [5]:
schoolCount =len(schools_df["school_name"].unique())
studentsTot = schools_df["size"].sum()
budgetTot = schools_df["budget"].sum()
mathScoreAvg = students_df["math_score"].mean()
readingScoreAvg = students_df["reading_score"].mean()

In [6]:
mathPassTot = len(students_df.loc[students_df["math_score"] > PASS_SCORE,:])
mathPassPct = 100* (mathPassTot/studentsTot)

In [7]:
readingPassTot = len(students_df.loc[students_df["reading_score"] > PASS_SCORE,:])
readingPassPct = 100* (readingPassTot/studentsTot)

In [8]:
passTot = len(students_df.loc[(students_df["math_score"] > PASS_SCORE) & 
                              (students_df["reading_score"] > PASS_SCORE),:])
passPct = 100* (passTot/studentsTot)

In [9]:
# set into DataFrame for District Summary
district_summary = pd.DataFrame([{
    "Unique Schools": schoolCount,
    "Total Students": studentsTot,
    "Total Budget": budgetTot,
    "Math Score Avg": mathScoreAvg,
    "Reading Score Avg": readingScoreAvg,
    "% Passing Math": mathPassPct,
    "% Passing Reading": readingPassPct,
    "% Overall Passing": passPct
}])
district_summary

,Unique Schools,Total Students,Total Budget,Math Score Avg,Reading Score Avg,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,83.112076,94.263467,78.787337

## School Summary

Summary metrics presented at a school level

In [37]:
student_avg = students_df.groupby("school_name").mean(numeric_only=True)
student_avg = student_avg[["reading_score", "math_score"]]
student_avg.columns = ["Average reading score", "Average math score"]
student_avg

                       Average reading score  Average math score
school_name
Bailey High School                 81.033963           77.048432
Cabrera High School                83.975780           83.061895
Figueroa High School               81.158020           76.711767
Ford High School                   80.746258           77.102592
Griffin High School                83.816757           83.351499
Hernandez High School              80.934412           77.289752
Holden High School                 83.814988           83.803279
Huang High School                  81.182722           76.629414
Johnson High School                80.966394           77.072464
Pena High School                   84.044699           83.839917
Rodriguez High School              80.744686           76.842711
Shelton High School                83.725724           83.359455
Thomas High School                 83.848930           83.418349
Wilson High School                 83.989488           83.274201
Wright High School                 83.955000           83.682222

In [24]:
student_passing_reading = students_df.loc[students_df["reading_score"] > PASS_SCORE, :]
student_passing_reading = student_passing_reading[["school_name", "reading_score"]]
passing_reading_count = student_passing_reading.groupby("school_name").count()
passing_reading_count = passing_reading_count.rename(columns={"reading_score":"# passing reading"})
passing_reading_count

                       # passing reading
school_name
Bailey High School                  4573
Cabrera High School                 1858
Figueroa High School                2710
Ford High School                    2487
Griffin High School                 1468
Hernandez High School               4239
Holden High School                   427
Huang High School                   2677
Johnson High School                 4383
Pena High School                     962
Rodriguez High School               3660
Shelton High School                 1761
Thomas High School                  1635
Wilson High School                  2283
Wright High School                  1800

In [23]:
student_passing_math = students_df.loc[students_df["math_score"] > PASS_SCORE, :]
student_passing_math = student_passing_math[["school_name", "math_score"]]
passing_math_count = student_passing_math.groupby("school_name").count()
passing_math_count = passing_math_count.rename(columns={"math_score":"# passing math"})
passing_math_count

                       # passing math
school_name
Bailey High School               3762
Cabrera High School              1858
Figueroa High School             2208
Ford High School                 2087
Griffin High School              1468
Hernandez High School            3498
Holden High School                427
Huang High School                2196
Johnson High School              3589
Pena High School                  962
Rodriguez High School            3021
Shelton High School              1761
Thomas High School               1635
Wilson High School               2283
Wright High School               1800

In [26]:
student_passing_both = students_df.loc[(students_df["reading_score"] > PASS_SCORE) & (students_df["math_score"] > PASS_SCORE), :]
student_passing_both = student_passing_both[["school_name", "Student ID"]]
passing_count = student_passing_both.groupby("school_name").count()
passing_count = passing_count.rename(columns={"Student ID":"# passing both"})
passing_count

                       # passing both
school_name
Bailey High School               3457
Cabrera High School              1858
Figueroa High School             2028
Ford High School                 1898
Griffin High School              1468
Hernandez High School            3201
Holden High School                427
Huang High School                2017
Johnson High School              3302
Pena High School                  962
Rodriguez High School            2764
Shelton High School              1761
Thomas High School               1635
Wilson High School               2283
Wright High School               1800

In [38]:
schools_g = schools_df[["school_name", "type", "size", "budget"]]
schools_g["Per Student Budget"] = schools_g["budget"]/schools_g["size"]

schools_g = pd.merge(schools_g, student_avg, how="inner", on="school_name")
schools_g = pd.merge(schools_g, passing_reading_count, how="inner", on="school_name")
schools_g = pd.merge(schools_g, passing_math_count, how="inner", on="school_name")
schools_g = pd.merge(schools_g, passing_count, how="inner", on="school_name")

schools_g["Math Passing (%)"] = 100*(schools_g["# passing math"]/schools_g["size"])
schools_g["Reading Passing (%)"] = 100*(schools_g["# passing reading"]/schools_g["size"])
schools_g["Overall Passing (%)"] = 100*(schools_g["# passing both"]/schools_g["size"])

schools_g = schools_g[["school_name",
                       "type",
                       "size",
                       "budget",
                       "Per Student Budget",
                       "Average math score",
                       "Average reading score",
                       "Math Passing (%)",
                       "Reading Passing (%)",
                       "Overall Passing (%)"
                      ]]

schools_g = schools_g.rename(columns={"school_name": "School name",
                                      "type": "School type",
                                      "size": "Total students",
                                      "budget": "Total school budget",
                                     })

schools_g

,School name,School type,Total students,Total school budget,Per Student Budget,Average math score,Average reading score,Math Passing (%),Reading Passing (%),Overall Passing (%)
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,75.282825,91.772369,69.146383
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,74.872838,91.895558,68.769074
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,100.000000,100.000000,100.000000
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,75.469256,91.456311,69.061489
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,100.000000,100.000000,100.000000
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,100.000000,100.000000,100.000000
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,100.000000,100.000000,100.000000
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,75.602894,91.901125,69.473473
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,100.000000,100.000000,100.000000
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,100.000000,100.000000,100.000000
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,100.000000,100.000000,100.000000
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,75.543886,91.522881,69.117279
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,75.383323,92.060491,69.355177
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,76.195692,90.799562,69.295363
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,100.000000,100.000000,100.000000

## Highest- and Lowest-Performing Schools

(by % Overall Passing)

In [49]:
top_schools = schools_g.sort_values("Overall Passing (%)", ascending=False).head(5)
top_schools

,School name,School type,Total students,Total school budget,Per Student Budget,Average math score,Average reading score,Math Passing (%),Reading Passing (%),Overall Passing (%)
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,100.0,100.0,100.0
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,100.0,100.0,100.0
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,100.0,100.0,100.0
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,100.0,100.0,100.0
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,100.0,100.0,100.0

In [50]:
bottom_schools = schools_g.sort_values("Overall Passing (%)", ascending=True).head(5)
bottom_schools

,School name,School type,Total students,Total school budget,Per Student Budget,Average math score,Average reading score,Math Passing (%),Reading Passing (%),Overall Passing (%)
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,74.872838,91.895558,68.769074
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,75.469256,91.456311,69.061489
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,75.543886,91.522881,69.117279
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,75.282825,91.772369,69.146383
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,76.195692,90.799562,69.295363

## Scores by Grade

In [56]:
mean_by_grade = students_df.groupby(["school_name","grade"]).mean(numeric_only=True)

In [61]:
# Math
mean_by_grade_math = mean_by_grade[["math_score"]]
mean_by_grade_math.columns = ["Average Math Score"]
mean_by_grade_math

                             Average Math Score
school_name           grade
Bailey High School    10th            76.996772
                      11th            77.515588
                      12th            76.492218
                      9th             77.083676
Cabrera High School   10th            83.154506
                      11th            82.765560
                      12th            83.277487
                      9th             83.094697
Figueroa High School  10th            76.539974
                      11th            76.884344
                      12th            77.151369
                      9th             76.403037
Ford High School      10th            77.672316
                      11th            76.918058
                      12th            76.179963
                      9th             77.361345
Griffin High School   10th            84.229064
                      11th            83.842105
                      12th            83.356164
                      9th             82.044010
Hernandez High School 10th            77.337408
                      11th            77.136029
                      12th            77.186567
                      9th             77.438495
Holden High School    10th            83.429825
                      11th            85.000000
                      12th            82.855422
                      9th             83.787402
Huang High School     10th            75.908735
                      11th            76.446602
                      12th            77.225641
                      9th             77.027251
Johnson High School   10th            76.691117
                      11th            77.491653
                      12th            76.863248
                      9th             77.187857
Pena High School      10th            83.372000
                      11th            84.328125
                      12th            84.121547
                      9th             83.625455
Rodriguez High School 10th            76.612500
                      11th            76.395626
                      12th            77.690748
                      9th             76.859966
Shelton High School   10th            82.917411
                      11th            83.383495
                      12th            83.778976
                      9th             83.420755
Thomas High School    10th            83.087886
                      11th            83.498795
                      12th            83.497041
                      9th             83.590022
Wilson High School    10th            83.724422
                      11th            83.195326
                      12th            83.035794
                      9th             83.085578
Wright High School    10th            84.010288
                      11th            83.836782
                      12th            83.644986
                      9th             83.264706

In [62]:
# Reading
mean_by_grade_reading = mean_by_grade[["reading_score"]]
mean_by_grade_reading.columns = ["Average Reading Score"]
mean_by_grade_reading

                             Average Reading Score
school_name           grade
Bailey High School    10th               80.907183
                      11th               80.945643
                      12th               80.912451
                      9th                81.303155
Cabrera High School   10th               84.253219
                      11th               83.788382
                      12th               84.287958
                      9th                83.676136
Figueroa High School  10th               81.408912
                      11th               80.640339
                      12th               81.384863
                      9th                81.198598
Ford High School      10th               81.262712
                      11th               80.403642
                      12th               80.662338
                      9th                80.632653
Griffin High School   10th               83.706897
                      11th               84.288089
                      12th               84.013699
                      9th                83.369193
Hernandez High School 10th               80.660147
                      11th               81.396140
                      12th               80.857143
                      9th                80.866860
Holden High School    10th               83.324561
                      11th               83.815534
                      12th               84.698795
                      9th                83.677165
Huang High School     10th               81.512386
                      11th               81.417476
                      12th               80.305983
                      9th                81.290284
Johnson High School   10th               80.773431
                      11th               80.616027
                      12th               81.227564
                      9th                81.260714
Pena High School      10th               83.612000
                      11th               84.335938
                      12th               84.591160
                      9th                83.807273
Rodriguez High School 10th               80.629808
                      11th               80.864811
                      12th               80.376426
                      9th                80.993127
Shelton High School   10th               83.441964
                      11th               84.373786
                      12th               82.781671
                      9th                84.122642
Thomas High School    10th               84.254157
                      11th               83.585542
                      12th               83.831361
                      9th                83.728850
Wilson High School    10th               84.021452
                      11th               83.764608
                      12th               84.317673
                      9th                83.939778
Wright High School    10th               83.812757
                      11th               84.156322
                      12th               84.073171
                      9th                83.833333

## Scores by School Spending

In [39]:
# bins provided by BC
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [42]:
# use pd.cut() to cat spending by bin
school_spending_df = pd.DataFrame()

In [ ]:
# Calculate mean scores per spending range
# code provided by BC
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# set into summary dataframe
spending_summary = pd.DataFrame([{
    "Average math score": spending_math_scores,
    "Average reading score": spending_reading_scores,
    "% passing math": spending_passing_math,
    "% passing reading": spending_passing_reading,
    "% overall passing": overall_passing_spending
}])

## Scores by School Size

In [48]:
# bins provided by BC
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

In [ ]:
size_summary = pd.DataFrame()

## Scores by School Type